<div class="container m3">
  <h1>Stupid coaching</h1>

  <form action="answer" method="GET" class="form-control">
    <input type="text" name="answer">
    <input type="submit" value="Ask!">
  </form>
</div>
